<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlaFZwZUwgZXk0l_J-CA75ReW4Wy45Ops&libraries=places&callback=initMap">
</script>

<button id="trigger" onclick="getMap();return false;">Set my location</button>
<button type="button" onclick="getLocation()">Use my current location</button>

<div id="overlay">
    <div id="popup">
        <div id="close"><i class="fa fa-window-close" aria-hidden="true"></i></div>
        <button type="button" id="saveExit">Save&Close</button>
        @*Address:*@
        <input id="searchTextField" type="text" style="">
       @* <br>
        latitude:<input name="latitude" class="maplat" value="" type="text" placeholder="latitude" style="width: 161px;" disabled>
        longitude:<input name="longitude" class="maplon" value="" type="text" placeholder="longitude" style="width: 161px;" disabled>
        *@
        <div id="map_canvas" style="height: 100%;margin: 0 0 0 0;"></div>
    </div>
</div>

<script>
    function getMap() {
        $('.footer').hide();
        $('#overlay').fadeIn(300);
         var geocoder = new google.maps.Geocoder;
        var lat = sessionStorage.getItem('geo-latitude'),// 44.88623409320778,
            lng = sessionStorage.getItem('geo-longitude'),// -87.86480712897173,
            latlng = new google.maps.LatLng(lat, lng),
            image = 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png';

        //zoomControl: true,
        //zoomControlOptions: google.maps.ZoomControlStyle.LARGE,

        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,
                position: google.maps.ControlPosition.TOP_left
            }
        },
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions),

        marker = new google.maps.Marker({
            position: latlng,
            map: map,
            icon: image
        });

        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ["geocode"]
        });

        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(autocomplete, 'place_changed', function (event) {
            infowindow.close();
            var place = autocomplete.getPlace();
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            moveMarker(place.name, place.geometry.location);
            $('.MapLat').val(place.geometry.location.lat());
            $('.MapLon').val(place.geometry.location.lng());

            $('#geo-lat').val(place.geometry.location.lat());
            $('#geo-long').val(place.geometry.location.lng());
            sessionStorage.setItem('geo-latitude', place.geometry.location.lat());
            sessionStorage.setItem('geo-longitude', place.geometry.location.lng());
        });

        google.maps.event.addListener(map, 'click', function (event) 
        {
            console.log("click event")
            $('.MapLat').val(event.latLng.lat());
            $('.MapLon').val(event.latLng.lng());
            $('#geo-lat').val(event.latLng.lat());
            $('#geo-long').val(event.latLng.lng());

            sessionStorage.setItem('geo-latitude', event.latLng.lat());
            sessionStorage.setItem('geo-longitude', event.latLng.lng());
            infowindow.close();
            map.panTo(event.latLng);
        });
    
        google.maps.event.addListener(map, 'center_changed', function () {
            var center = map.getCenter();
            marker.setPosition(center);

            window.setTimeout(function () {
                geocodeLatLng(geocoder, map, infowindow, marker);
            }, 2000);
        });
    
        function geocodeLatLng(geocoder, map, infowindow, marker) 
        {
            geocoder.geocode({ 'location': marker.position }, function (results, status) 
            {
                if (status === google.maps.GeocoderStatus.OK) 
                {
                    console.log(results);
                    if (results[1]) {
                        //map.setZoom(11);
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        console.warn('GeoCoder: No results found');
                    }
                } else 
                {
                    console.warn('Geocoder failed due to: ' + status);
                }
            });
        }
        
        function hidePopup(){
            $(popup).style.display = 'none';
        }
    }
    function getLocation() 
    {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) 
    {
        $('.MapLat').val(position.coords.latitude);
        $('.MapLon').val(position.coords.longitude);
        $('#geo-lat').val(position.coords.latitude);
        $('#geo-long').val(position.coords.longitude);

        sessionStorage.setItem('geo-latitude',position.coords.latitude);
        sessionStorage.setItem('geo-longitude', position.coords.longitude); 
    }
    
    $(document).ready(function () {
        $('#trigger').click(function () {
            getMap();
            $('#overlay').fadeIn(300);
        });
        $('#saveExit').click(function () {
            $('#overlay').fadeOut(300);
            $('.footer').show();
        });

        $('#close').click(function () {
            $('#overlay').fadeOut(300);
            $('.footer').show();
        });
    });
</script>

<style>
    #searchTextField {
        text-align: left;
        direction: ltr;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 50%;
    }

    #trigger {
        float: left;
    }

    button {
        background: #616161;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 3px;
    }

    #overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        display: none;
    }

    #popup {
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        height: 80%;
        /*padding: 20px;*/
        position: relative;
        background: #fff;
        margin: 130px auto;
    }

    #close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #000;
    }
</style>