@model ProductDetailsModel
@using Newtonsoft.Json;
@using Nop.Core;

@inject IWebHelper webHelper

@{
    var shareUrl = webHelper.GetStoreLocation();
    var allowedFileExtensions = Model;
  var vendorModel =  JsonConvert.SerializeObject(@allowedFileExtensions.VendorModel);
}
<div id="map"></div>
<input type="hidden" id="PassingToJavaScript2" value=@vendorModel>
<div class="product-social-buttons">
    <script   asp-location="None" src="https://maps.googleapis.com/maps/api/js?&sensor=false&v=3&key=AIzaSyCNQrOZMXYBcGlvkXMBGeD68FQxpaQhGdw"></script>
    <script   asp-location="None" src="https://cdn.sobekdigital.com/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.js"></script>
    <script asp-location="Footer"  src="~/Themes/Pacific/Content/scripts/gmapMarketWithLabel.js"> </script>
</div>
    <style>

    #map {
  width:100%;
  height:250px;
}
   .labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 80px;     
     border: 2px solid black;
     white-space: nowrap;
   }
    </style>




